{{#if loggedIn}}
<section class="container">
    <div class="give-some-space">
        <a href="/blogs" class="btn btn-primary">Create Blog</a>
    </div>
    <div id="blogs-list">
    {{#each events}}
    <div class="blog">
        <h2>{{this.title}}</h2>
        <h3> {{this.id}} </h3>
        <p>{{this.description}}</p>
        <p>{{this.date}} at {{this.time}}</p>
        <div class="blog-buttons">
            <a href="/edit" id="{{this.id}}"><b>Edit</b></a>
            <button class="delete-blog-btn" data-id="{{this.id}}">Delete</button>
        </div>
    </div>
    {{/each}}
</div>

</section>
{{else}}
{{> login-details}}
{{/if}}